[Unit]
Description=HARD
After=network.target
Wants=network.target

[Service]
ExecStart=/usr/bin/python3 /home/user/Documents/Capstone/main.py
WorkingDirectory=/home/user/Documents/Capstone
EnvironmentFile=/etc/fall-detector.env
Restart=on-failure
StandardOutput=inherit
StandardError=inherit
User=user
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
